<div class="comment_container span12">
    <hr />
    <div class="row-fluid">
        <div class="span2 comment_user">
            <a href="#" class="thumbnail" ><img src="http://placehold.it/70x70" alt="user_avatar"/></a>
        </div>
        <div class="span10">
            <div class="row-fluid">
                <div class="span12 comment_header">
                    <p>
                        <i class="icon-user"></i> <strong> {{ref_utilisateur}}</strong> <small class="muted"> le 10 Juillet</small>
                        
                    </p>
                </div>
                <div class="span12 comment_content">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</div>
