<div>
    <ul>
        <li>
            <a href="#q1">Quel type de projet trouve-t-on ?</a>
        </li>
        <li>
            <a href="#q2">Qui consulte Kickstart'UTT ?</a>
        </li>
        <li>
            <a href="#q3">Comment puis-je proposer un projet ?</a>
        </li>
        <li>
            <a href="#q4">Je ne vois pas mon projet dans la liste des projets en cours, est-ce normal ?</a>
        </li>
        <li>
            <a href="#q5">Comment puis-je émettre des appels de compétences ?</a>
        </li>
        <li>
            <a href="#q6">Comment mettre à jour mon projet ?</a>
        </li>
        <li>
            <a href="#q7">Comment puis-je m'inscrire à un projet ?</a>
        </li>
        <li>
            <a href="#q8">Et sinon, vous êtes qui vous ? Et qu'est-ce que c'est Kickstart'UTT ? [A propos]</a>
        </li>
    </ul>
<div>

<div>
    <div class="well">
        <h3><a name="q1">Quel type de projet trouve-t-on ?</a></h3>
        <p>Kickstart'UTT est une plateforme où se rassemble tous les projets de l'UTT. Cela peut être de gros projets d'UV comme CS03, des propositions de TX, des appels de concours ou encore des projets associatifs...</p>
    </div>

    <div class="well">
        <h3><a name="q2">Qui consulte Kickstart'UTT ?</a></h3>
        <p>
        Kickstart'UTT se veut être en priorité à destination des étudiants de l'UTT et cela représente donc son principal public. Toutefois, c'est un site ouvert où n'importe quel internaute peut venir consulter la liste des projets qui font l'actualité à l'UTT (notamment des entreprises...).
        </p>
    </div>
   
    <div class="well">
        <h3><a name="q3">Comment puis-je proposer un projet ?</a></h3>
        <p>
        Pour proposer un projet, il faut au préalable s'être connecté. Il vous est ensuite possible de cliquer sur "Create new project" qui vous dirige vers la page de création de projet.
        </p>
    </div>
   
    <div class="well">
        <h3><a name="q4">Je ne vois pas mon projet dans la liste des projets en cours, est-ce normal ?</a></h3>
        <p>
        C'est tout à fait normal ! Avant d'être publié un projet doit avoir terminé sa phase d'incubation <!-- Est-ce que c'est le cas ?? à partir de quand le projet est-il publié réellement ? -->
        </p>
    </div>
   
    <div class="well">
        <h3><a name="q5">Comment puis-je émettre des appels de compétences ?</a></h3>
        <p>
        Cette phase se déroule juste après la création du projet, pendant l'incubation. Il vous est alors proposé d'ajouter des rôles à votre projet ainsi que de les assigner si vous connaissez déjà le participant, mais dès lors que le rôle n'est pas assigné, une nouvelle fiche d'appel à compétence sera automatiquement créée et publiée sur le site.
        </p>
    </div>
   
    <div class="well">
        <h3><a name="q6">Comment mettre à jour mon projet ?</a></h3>
        <p>
        Lorsque vous êtes connecté, l'espace à droite de l'écran sur la majorité des pages est un raccourci vers tous les fonctionnalités associées à votre compte. Pour mettre à jour votre projet, cliquez sur le projet concerné dans la liste des projets vous étants associés. Cela vousdirige directement vers la fiche du projet avec la possibilité de mettre à jour cette fiche si vous disposez des droits suffisants.
        </p>
    </div>
   
    <div class="well">
        <h3><a name="q7">Comment puis-je m'inscrire à un projet ?</a></h3>
        <p>
        Pour répondre à un appel de compétence, il vous suffit de cliquer sur "Répondre à l'appel". Cela vous propose d'envoyer directement un mail au chef de projet concerné qui pourra alors vous assigner au rôle désiré, sous réserve que celui-ci soit toujours disponible.
        </p>
    </div>
   
    <div class="well">
        <h3><a name="q8">Et sinon, vous êtes qui vous ? Et qu'est-ce que c'est Kickstart'UTT ? [A propos]</a></h3>
        <p>
            Nous sommes cinq étudiants de l'UTT : Florian bruniaux, Paul Aubineau, Julien Calderan, Florian Pinat et Christophe More, qui avons monté le projet Kickstart'UTT dans le cadre de l'UV IF11.
            <br/>
            <br/>
            Kickstart'UTT est un outil informatique permettant de cataloguer les réalisations étudiantes, de regrouper les compétences disponibles au sein de l’université, et de fournir un espace de communication et de présentation (showcase) des projets UTT.
        </p>
    </div>
</div>