
<div class="navbar-inner">
  <div class="container">
    <a class="brand">KICKSTARTUTT</a>
    <div class="nav-collapse">
      <ul class="nav">
        <li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
        <li ><a href="#"><i class="icon-star icon-white"></i> Top Projects</a></li>
        <li><a href="#"><i class="icon-list icon-white"></i> All Projects</a></li>
        <li><a href="#"><i class="icon-pencil icon-white"></i> Launch your Project</a></li>
      </ul>
      <form class="navbar-form form-inline span2">
        <div class="input-append" >
          <input type="text" style="height: 100%;" class="span2"/>
          <div class="btn-group" style="height: 100%;">
            <button tabindex="-1" class="btn">Search</button>
            <button tabindex="-1" data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </form>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">Sign In <strong class="caret"></strong></a>
          <div class="dropdown-menu"  style="padding: 15px; padding-bottom: 0px;">
           <form accept-charset="UTF-8" action="login" method="post">
              <input type="text" name="username" id="username" placeholder="Username" style="margin-bottom: 15px;" />
              <input type="password" name="password" id="password" placeholder="Password" style="margin-bottom: 15px;" />
              <input type="checkbox" value="1" id="remember-me" name="remember-me" style="float: left; margin-right: 10px;" />
              <label for="remember-me" class="string optional"> Remember me</label>
              <input type="submit" value="Sign In" id="sign-in" class="btn btn-primary btn-block">
              <label style="text-align:center;margin-top:5px">or</label>
              <input type="submit" value="Sign Up" id="sign-up" class="btn btn-primary btn-block">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div style="width: 100%; color: white;">
  <p class="text-center" style="background-color: #0088CC; height: 30px; font-size: 1.2em; line-height: 1.7em;" >Official UTT's projects showcase and launcher !</p>
</div>
