<div class=" row-fluid tabbable well well-small">
    <div class="span2">
        <ul class="nav nav-list" id="slider_nav">
            <li class="active"><a href="#tab1" data-toggle="tab" data-filter="projects">Notre sélection</a></li>
            <li><a href="#tab2" data-toggle="tab" data-filter="top_projects">Les plus populaires</a></li>
            <li><a href="#tab3" data-toggle="tab" data-filter="new_projects">Les nouveautés</a></li>
        </ul>
        </div>
        <div class="tab-content span10">
        <div class="tab-pane active" id="tab1">
            <!-- Slider -->
            <div class="row-fluid" id="slider">
                <!-- Top part of the slider -->
                <div id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0" id="projectColContainer">
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <!-- Slider -->
            <div class="row-fluid" id="slider">
                <!-- Top part of the slider -->
                <div id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0" id="projectColContainer">
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <!-- Slider -->
            <div class="row-fluid" id="slider">
                <!-- Top part of the slider -->
                <div id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0" id="projectColContainer">
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>