<div class="sidebar-nav" style="margin-left:10px;">
  <div class="well well-small">
    <div class="row">
      <div class="span1"><a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail"><img src="http://critterapp.pagodabox.com/img/user.jpg" alt=""></a></div>
      <div class="span2">
        admin<br/>
        <strong>First Last Name</strong><br />
        <span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15 followers</span><br /><br />
      </div>
      <br />
      <div class="span3">
        <a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a>
        <a href="#" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
        <a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
      </div>   
    </div>
  </div>
</div>

<div class="sidebar-nav" style="margin-left:10px;">
  <div class="well well-small">
    <ul class="nav nav-list">
      <li class="nav-header">Main</li>
      <li class="active"><a href="index"><i class="icon-home"></i> Dashboard</a></li>
      <li><a href="#"><i class="icon-edit"></i> Add Blog Post</a></li>
      <li><a href="#"><i class="icon-calendar"></i> Calendar</a></li>
      <li><a href="#"><i class="icon-user"></i> Members</a></li>
      <li><a href="#"><i class="icon-comment"></i> Comments</a></li>
      <li><a href="#"><i class="icon-picture"></i> Gallery</a></li>
    </ul>
  </div>
</div>

<div class="sidebar-nav" style="margin-left:10px;">
  <div class="well well-small">
    <form class="navbar-form form-search span2" id="formSearchProjects">
      <input id="inputSearchProjects" type="text" class="search-query typeahead input-medium" placeholder="Search projects" autocomplete="off"/>
      <input type="submit" value="search" style="display: none;" />
  <!--        <div class="input-append search" >
          <input type="text" style="height: 100%;" class="span2 typeahead"/>
          <div class="btn-group" style="height: 100%;">
            <button tabindex="-1" class="btn">Search</button>
            <button tabindex="-1" data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>-->
      </form>  
  </div>
</div>