<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sign Up !</h3>
    </div>
    <div class="modal-body">
        
      <form id="signup" class="form-horizontal">
        <fieldset>
          <!-- identifiant input-->
          <div class="control-group">
            <label class="control-label">Identifiant</label>
            <div class="controls">
                <input id="identifiant" name="identifiant" type="text" placeholder="identifiant" class="input-xlarge">
                <p class="help-block"></p>
            </div>
          </div>
          <!-- password input-->
          <div class="control-group">
            <label class="control-label">Mot de passe</label>
            <div class="controls">
                <input id="password" name="password" type="password" placeholder="Mot de passe" class="input-xlarge">
                <p class="help-block"></p>
            </div>
          </div>    
          <!-- nom input-->
          <div class="control-group">
            <label class="control-label">Nom</label>
            <div class="controls">
                <input id="Nom" name="Nom" type="text" placeholder="Nom" class="input-xlarge">
                <p class="help-block"></p>
            </div>
          </div>
          <!-- prenom input-->
          <div class="control-group">
            <label class="control-label">Prénom</label>
            <div class="controls">
                <input id="prenom" name="prenom" type="text" placeholder="prenom" class="input-xlarge">
                <p class="help-block"></p>
            </div>
          </div>
          <!-- type select -->
          <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls">
                <select id="type" name="type" class="input-xlarge">
                    <option value="" selected="selected">Type</option>
                    <option value="Etudiant">Etudiant</option>
                    <option value="Doctorant">Doctorant</option>
                    <option value="Enseignant">Enseignant</option>
                    <option value="Exterieur">Extérieur</option>
                </select>
            </div>
          </div>
        
          <p> /!\ Faire apparaitre le choix de branche et de niveau quand étudiant est selectionné /!\</p>
        
          <!-- type select -->
          <div class="control-group">
            <label class="control-label">Branche</label>
            <div class="controls">
                <select id="branche" name="branche" class="input-xlarge">
                    <option value="" selected="selected">Branche</option>
                    <option value="ISI">ISI</option>
                    <option value="MTE">MTE</option>
                    <option value="SM">SM</option>
                    <option value="SI">SI</option>
                    <option value="TC">TC</option>
                </select>
                <br /><br />
                <select id="niveau" name="niveau" class="input-xlarge">
                    <option value="" selected="selected">Niveau</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
          </div>
        
          <!-- email input-->
          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <input id="email" name="email" type="text" placeholder="email" class="input-xlarge">
                <p class="help-block"></p>
            </div>
          </div>
        
          <!-- telephone input-->
          <div class="control-group">
            <label class="control-label">Téléphone</label>
            <div class="controls">
                <input id="telephone" name="telephone" type="text" placeholder="Téléphone" class="input-xlarge">
                <p class="help-block"></p>
            </div>
          </div> 
          </div>
          <div class="modal-footer">
            <!-- Submit -->
          <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Get started !</button>
                <p class="help-block"></p>
            </div>
          </div>      
          </div>
          </fieldset>
      </form> 
</div>
