<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10" id="splitPage_left">
        <!--Body content-->
        </div>
        <div class="span2" id="splitPage_right">
        <!--Sidebar content-->
        </div>
    </div>
</div>
<div style="height: 85px;"></div>