<!DOCTYPE html>
<html>
  <head>
    <title>CouchDB jQuery Examples</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/_utils/script/json2.js"></script>
    <script src="/_utils/script/sha1.js"></script>
    <script src="/_utils/script/jquery.js?1.4.2"></script>
    <script src="/_utils/script/jquery.couch.js?0.11.0"></script>
    <script src="/_utils/script/jquery.dialog.js?0.11.0"></script>
    
    <script>

    function createUser(_user, _password) {
        
        $.couch.signup(_user, _password, {
            success: function(data) {
                console.log(data);
                $("#answer").html(user.name + " created ! ");
            },
            error: function(status) {
                console.log(status);
            }
        }); 
    }
    
    function login(_name, _pass) {
        $.couch.login({
            name: _name,
            password: _pass,
            success: function(data) {
                console.log(data);
                $("#answer2").html(_name + " logged ! ");
            },
            error: function(status) {
                console.log(status);
                $("#answer2s").html(JSON.stringify(data));
            }
        }); 
    }
    
    function getSession() {
        $.couch.session({
            success: function(data) {
                console.log(data);
                $("#answer3").html(JSON.stringify(data));
            }
        }); 
    }
    
    function logOut() {
        $.couch.logout({
            success: function(data) {
                console.log(data);
                $("#answer4").html(JSON.stringify(data));
            }
        }); 
    }
    
    function getUserDb() {
        $.couch.userDb(function(data) {
            console.log(data);
            $("#answer5").html(JSON.stringify(data));
        }); 
    }
    
    function getNewUuid() {
        var uuid = $.couch.newUUID();
        console.log(uuid);
        $("#answer6").html(uuid);
    }
    
    function getDbInfo(_db) {
        $.couch.db(_db).info({
            success: function(data) {
                console.log(data);
                $("#answer7").html(JSON.stringify(data));
            }
        }); 
    }
    
    function saveDoc(_db, _doc) {
        $.couch.db(_db).saveDoc(_doc, {
            success: function(data) {
                console.log(data);
            },
            error: function(status) {
                console.log(status);
            }
        }); 
    }
    
    function openDoc(_db, _idDoc) {
        $.couch.db(_db).openDoc(_idDoc, {
            success: function(data) {
                console.log(data);
            },
            error: function(status) {
                console.log(status);
            }
        }); 
    }
    
    function removeDoc(_db, _idDoc, _revDoc) {
        $.couch.db(_db).removeDoc(
            {
                _id : _idDoc,
                _rev : _revDoc
            }, {
            success: function(data) {
                console.log(data);
           },
           error: function(status) {
               console.log(status);
           }
       });
    }
    
    function getAllDocs(_db) {
        $.couch.db(_db).allDocs({
            success: function(data) {
                console.log(data);
                $("#answer8").html(JSON.stringify(data));
            }
        }); 
    }
    
    function getViewResult(_db, _view) {
        $.couch.db(_db).view(_view, {
            success: function(data) {
                console.log(data);
            },
            error: function(status) {
                console.log(status);
            },
            reduce: false
        });
    }
    </script>
    
  </head>
  
  <body>
    <div>
        <script>
        var user = {
            _id: "org.couchdb.user:test",
            name: "test",
            surname: "surname",
            email: "email@gmail.fr",
            phone: "0612708008",
            inscription_date: "Thu May 02 2013 09:45:24 GMT+0200",
            presentation: "Coucou blabla blabla blabla",
            competences: [
               "rest",
               "nosql",
               "javascript"
            ]
        }
        </script>
        <a href="#" onclick='createUser(user, "PASSWORD")'>Create user</a>
        <p id="answer"></p>
        <a href="#" onclick='login("test","PASSWORD")'>Log user</a>
        <p id="answer2"></p>
        <a href="#" onclick="getSession()">Get Session</a>
        <p id="answer3"></p>
        <a href="#" onclick="logOut()">Log out</a>
        <p id="answer4"></p>
        <a href="#" onclick="getUserDb()">getUserDb</a>
        <p id="answer5"></p>
        <a href="#" onclick="getNewUuid()">getNewUuid</a>
        <p id="answer6"></p>
        <a href="#" onclick='getDbInfo("_users")'>getDbInfo('_users') RQ: On peut changer la db </a>
        <p id="answer7"></p>
        <a href="#" onclick='getAllDocs("_users")'>getAllDocs('_users') RQ: On peut changer la db </a>
        <p id="answer8"></p>
    </div>
    
  </body>
  
</html>